:root {
  --clr-bg-alt:#FFBF46;
  --clr-accent-400: #ccf381;
  --clr-white-400: #eeffff;
  --heading-bg-white: #4831d4;
  --p-bg-white: #3d155f;
}

body { 
    background: #4831d4;
}

footer {
  background:#3D155F;
  color: var(--clr-accent-400);
}

.my-clr-bg-accent {
  background: var(--clr-bg-alt);
}

.my-clr-bg-white {
  background: var(--clr-white-400);
  color: var(--heading-bg-white);

}

.my-clr-bg-white > p,
.my-clr-bg-white > h3 {
  color: var(--p-bg-white);
}

.my-clr-bg-white > h3 {
  color: var(--heading-bg-white);
}

.my-accent {
  color: var(--clr-accent-400);
} 

.my-white {
  color: var(--clr-white-400)
}

.accent-bg-p {
  color: var(--heading-bg-white)
}

.grid-container { 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* WON"T WORK????????????????????????? */
.no-gap {
  gap: 0;
}
/* WON"T WORK????????????????????????? */

/* REMOVE: this is to help with positioning */
/* .grid-container > * {
    border: 2px solid #333;
} */

.grid-col-span-2 {
    grid-column: span 2;
}   

nav {
  display: none; /* Initially hide the menu on all screen sizes */
}

/* Apply this style to the navigation menu on small screens (using Tailwind CSS classes) */
@media (max-width: 640px) {
  nav {
    display: block; /* Display the menu as a block on small screens */
  }
}

/* Style for the hamburger menu button */
.menu-toggle {
  display: none;
}

#menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Style for the navigation menu */
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin: 0 15px;
}

/* Add media query to handle the responsive behavior */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .menu.active {
    display: flex;
  }
}
